{%extends "app1/home.html"%}
{%block body_block%}

<div class="container">
        <div class="left-column">
<a href="/addemployee"><button class="m">ADD Employee</button></a>


        </div>
        <div class="right-column">

<a href="/viewemployeedata"><button class="m">View EMPLOYEE Data</button></a>



        </div>
    </div>

<div class="container">
        <div class="left-column">
<a href="/addlatestnews"><button class="m">ADD LATEST NEWS</button></a>
        </div>
        <div class="right-column">

<a href="/addcalender"><button class="m">ADD CALENDER</button></a>

        </div>
    </div>


{%endblock%}